@import "../../main.scss";
.writingWrapper {
  padding: 3rem 10rem 0 10rem;
  // display: flex;
  //flex-direction: column;

  width: 100%;

  @include tablet {
    width: 44rem;
    padding: 2rem 0 0 0;
  }

  @include mobile {
    width: 33rem;
  }

  .backBtn {
    border-radius: 100%;
    border: none;
    background-color: $gray;
    width: 4rem;
    height: 4rem;
    text-align: center;
    margin-bottom: 3rem;

    &:hover {
      background-color: $pink;
    }
  }

  .cancel {
    margin-left: 3rem;
    background-color: $light-gray;

    &:hover {
      background-color: $red;
      color: $black;
    }
  }

  .registration {
    background-color: $black;
    color: $white;

    &:hover {
      background-color: $blue;
      color: $black;
    }
  }

  .nickname {
    width: 100%;
    padding: 0.8rem 0 0.8rem 0.9rem;
  }

  .title {
    width: 100%;
    padding: 0.8rem 0 0.8rem 0.9rem;
  }

  .reason {
    @include text-14style;
    margin-top: 0.8rem;
    padding: 0rem 0 0 0.9rem;
    height: 25rem;
    text-align: start;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    padding-top: 1rem;
    background-color: $light-gray;
    outline: none;
    border: none;
    border-radius: 0.8rem;

    &::placeholder {
      color: $gray;
    }

    &:hover {
      border: 0.1rem solid $blue;
    }
  }

  .errorInput {
    border: 0.1rem solid $red;
    padding: 0.8rem 0 0.8rem 0.9rem;
  }

  .errorReason {
    border: 0.1rem solid $red;
    @include text-14style;
    margin-top: 0.8rem;
    padding: 0rem 0 0 0.9rem;
    height: 25rem;
    text-align: start;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    padding-top: 1rem;
    background-color: $light-gray;
    outline: none;
    border-radius: 0.8rem;
  }

  .buttons {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .registration,
  .cancel {
    border-radius: 100%;
    border: none;
    width: 5rem;
    height: 5rem;
  }

  .formArea {
    margin-bottom: 3rem;

    small {
      color: $red;
    }
  }
}
