@import "/src/app/main.scss";

.texts {
  display: flex;
  flex-direction: column;
  margin-right: 22.2rem;
  text-align: center;
  align-items: center;
  margin-top: 5rem;
  margin-left: 25rem;

  @include tablet {
    margin: 0 auto;
  }

  .title {
    @include text-60-bold;
    margin-bottom: 0.6rem;
    white-space: nowrap;
    @include tablet {
      @include text-40style();
    }

    @include mobile {
      @include text-32style();
    }
  }

  .position {
    @include text-48-bold();
    margin-top: 4.5rem;
    margin-bottom: 5.5rem;
    white-space: nowrap;
    width: 14ch;

    @include tablet {
      @include text-40-bold();
    }

    @include mobile {
      @include text-32-bold();
    }
  }

  button {
    @include text-32style();
    border-radius: 1.9rem;
    border: 0.1rem solid $black;
    background-color: $black;
    color: $white;
    width: 20.4rem;
    height: 8.4rem;

    @include tablet {
      @include text-24style();
      width: 17.4rem;
      height: 7.4rem;
    }

    @include mobile {
      @include text-20style();
      width: 15.4rem;
      height: 5.4rem;
    }

    &:hover {
      background-color: $baby-pink;
      color: $black;
    }

    .linkText {
      @include text-32style();
      text-decoration: none;
    }
  }
}

.animated {
  animation-duration: 1s; // 애니메이션 지속 시간
  animation-fill-mode: both;
  animation-name: slideIn;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation: fadeIn 3s ease-in-out; // 1초 동안 페이드 인
}

.fadeOut {
  animation: fadeOut 3s ease-in-out; // 1초 동안 페이드 아웃
}
