@import "../../../main.scss";

.modalWrapper {
  width: 35rem;
  padding: 2.3rem 2.6rem 10.8rem 2.6rem;
  background-color: $pink;

}

.nickDate {
  display: flex;
  gap: 1rem;
}

.nickname,
.title,
.question,
.date {
  @include text-10style();
  margin-bottom: 2rem;
}

.nickname,
.title,
.date {
  color: $gray;
}

.question {
  color: $black;
}

.reason {
  @include text-14style();
  color: $black;
  text-align: center;
  margin-top: 1rem;
}