@import "../../../main.scss";

.modalWrapper {
  width: 56rem;
  height: 30rem;
  padding: 2.3rem 2.6rem 10.8rem 2.6rem;
  background-color: $pink;

  @include tablet {
    width: 35rem;
    padding: 2.3rem 2.6rem 10.8rem 2.6rem;
  }
  @include mobile {
    width: 27rem;
    padding: 2.3rem 2.6rem 5.8rem 2.6rem;
    overflow-y: auto;
  }
}

.nickDate {
  display: flex;
  gap: 1rem;
}

.nickname,
.title,
.question,
.date {
  @include text-14style();
  @include tablet {
    @include text-10style();
  }
  margin-bottom: 2rem;
}

.nickname,
.title,
.date {
  color: $gray;
}

.question {
  color: $black;
}

.reason {
  @include text-20style();
  width: 45rem;
  margin-top: 8rem;
  color: $black;
  padding-left: 5rem;
  letter-spacing: 0.1rem;
  text-align: center;
  @include tablet {
    margin-top: 1rem;
    @include text-14style();
  }
}
