@import "../../main.scss";

.visitorWrapper {
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include tablet {
    margin: 0 auto;
  }

  @include mobile {
    margin: 0 auto;
  }
}

.pencilIcon {
  display: inline-block;

  .pencilImg {
    margin-top: 0.5rem;
  }

  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  background-color: $light-gray;
  text-align: center;

  &:hover {
    background-color: $pink;
  }
}

.intro {
  @include text-20style();
  width: 15rem;
  background-color: $black;
  color: $white;
  padding: 1rem 3.6rem;
  border-radius: 1.1rem;
  margin-right: 2.2rem;
}

.banner {
  margin-bottom: 3rem;
}

.pageNation {
  margin-left: -4rem;
}

.letters {
  height: 46rem;
  margin-bottom: 1rem;
  // margin-left: 3.3rem;
}
