$mobile: 335px;
$tablet: 1024px;
$desktop: 1025px;
$max-mobile: $tablet - 1px;

@mixin mobile {
  @media (min-width: $mobile) and (max-width: $max-mobile) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$mobile+1}) and (max-width: $tablet) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop) {
    @content;
  }
}