@import"../app/main.scss";

html {
  font-size: 62.5%;
  // width: 62.5%;
  // height: 62.5%;
}

body {
  font-family: 'Judson', 'Niramit', sans-serif;
  line-height: normal;
  /* Judson 폰트를 기본 폰트로 설정합니다. */
  font-size: 62.5%;
}