@import "../app/main.scss";

.contents {
  display: flex;
  justify-content: center;
  align-items: start;
  margin-top: 10rem;
  // gap: 25rem;

  @include tablet {
    flex-direction: column;
    gap: 4.8rem;
    align-items: center;
  }

  @include mobile {
    flex-direction: column;
    gap: 4.8rem;

    align-items: center;
  }
}
