@import"../../main.scss";

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  animation-duration: 3s;
  animation-name: slidein;

  @include tablet {
    gap: 7.8rem;
    justify-content: center;
    margin-bottom: 3rem;
  }

  @keyframes slidein {
    from {
      margin-bottom: 100%;
      width: 100%;
      opacity: 0; //연하게 
    }

    to {
      margin-bottom: 0%;
      width: 100%;
      opacity: 1; //진하게 
    }

  }

  .title {
    @include text-48-light();
    margin-left: 8rem;

    @include tablet {
      @include text-24style();
      margin-left: 0;
    }
  }

  .Link {
    color: $black;
    text-decoration: none;
  }

  .menus {
    @include text-24style();
    display: flex;
    gap: 2rem;
    white-space: nowrap;

    @include tablet {
      @include text-14style();
      gap: 1rem;
    }

  }


  .menu {
    padding: 0.2rem 1.5rem;
    background-color: $baby-pink;
    color: $black;
    text-align: center;
    text-decoration: none;

    @include tablet {
      padding: 0.5rem 1.4rem;
    }



    &:hover {
      background-color: $black;
      color: $baby-pink;

    }

    &:hover::after {
      width: 100%;
    }
  }

  .active {
    color: $baby-pink;
    background-color: $black;
  }
}