@import "../../main.scss";

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  animation-duration: 3s;
  animation-name: slidein;
  gap: 60rem;
  margin-right: 50rem;
  width: 100%;

  @include tablet {
    gap: 0rem;
    justify-content: center;
    margin-bottom: 5rem;
    margin-top: 2rem;
  }

  @include mobile {
    gap: 4.8rem;
    justify-content: center;
    margin-bottom: 5rem;
    margin-top: 2rem;
    margin-left: 0rem;
  }

  @keyframes slidein {
    from {
      margin-bottom: 100%;
      width: 100%;
      opacity: 0;
    }

    to {
      margin-bottom: 0%;
      width: 100%;
      opacity: 1;
    }
  }

  .title {
    @include text-40-bold();
    margin-left: 8rem;

    @include tablet {
      @include text-24style();
      margin-left: 0;
    }

    @include mobile {
      @include text-20style();
      margin-left: 0;
    }
  }

  .Link {
    color: $black;
    text-decoration: none;
  }

  .menus {
    @include text-24style();
    display: flex;
    gap: 2rem;
    white-space: nowrap;
    position: relative;
    margin-right: 20rem;
    @include tablet {
      @include text-14style();
      gap: 1rem;
    }

    @include mobile {
      @include text-10style();
      gap: 0.5rem;
    }
  }

  .menu {
    padding: 0.2rem 1.5rem;
    background-color: $baby-pink;
    color: $black;
    text-align: center;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    transition: all 0.7s ease-out;
    border-radius: 0.8rem;

    @include tablet {
      padding: 0.5rem 1.4rem;
    }

    @include mobile {
      padding: 0.5rem 1rem;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 100%;
      width: 100%;
      height: 100%;
      background-color: $black;
      transition: all 0.7s ease-out;
    }

    &:hover {
      background-color: $black;
      color: $baby-pink;

      &::before {
        width: 100%;
        right: -100%;
      }
    }

    .active {
      color: $baby-pink;
      background-color: $black;
    }
  }
}
