@import"../../main.scss";

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;

  .title {
    @include text-48-light();
    margin-left: 8rem;
  }

  .Link {
    color: $black;
    text-decoration: none;
  }

  .menus {
    @include text-24style();
    display: flex;
    gap: 2rem;
    white-space: nowrap;
    animation-duration: 3s;
    animation-name: slidein;


    @keyframes slidein {
      from {
        margin-bottom: 100%;
        width: 100%;
      }

      to {
        margin-bottom: 0%;
        width: 100%;
      }
    }


    .menu {
      padding: 0.2rem 1.5rem;
      background-color: $baby-pink;
      color: $black;
      text-align: center;
      text-decoration: none;

      &:hover {
        background-color: $black;
        color: $baby-pink;

      }

      &:hover::after {
        width: 100%;
      }
    }

    .active {
      color: $baby-pink;
      background-color: $black;
    }
  }
}