@import "../../../main.scss";

.modalContainerWrapper {
  .modalContainer {
    background-color: $baby-pink;
    padding: 2.3rem 2rem 0rem 2rem;
  }

  section {
    margin-bottom: 2rem;
  }

  .keepyUppyImg {
    width: 30rem;
    height: 25rem;
    margin-left: 0.8rem;
  }

  .Img {
    width: 30rem;
    height: 25rem;

  }

  .title {
    @include text-14style();
    display: flex;
    align-items: center;
    gap: 1.1rem;


  }

  .explanation {
    @include text-10style();
    margin-top: 1rem;
  }

  .skills {
    display: flex;
    align-items: center;
    gap: 15.7rem;
  }
}