@import "../../main.scss";

.container {
  margin-top: 2.5rem;
  margin-right: auto;
  margin-left: auto;
  overflow-y: auto;
  height: 55rem;

  /* Firefox 브라우저용 */
  scrollbar-width: none;
  /* 스크롤바 너비 설정 (없음) */
  scrollbar-color: transparent;

  @include tablet {
    margin: 0;
    height: 40rem;
  }

  .image,
  .keepyUppyDarkImg {
    @include tablet {
      width: 36rem;
    }

    @include mobile {
      width: 26rem;
      height: 13rem;
    }
  }

  /* 스크롤바 색상 설정 (투명) */
  .imageWrapper {
    position: relative;
  }

  .button {
    @include text-10style();
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $black;
    color: $white;
    border: none;
    border-radius: 0.6rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 14rem;
    height: 2.6rem;
    white-space: nowrap;
  }
}
